<h1>Currency pairs</h1>

<p>Go <a href="/">back</a></p>

<%=@parsed_data%>
<ul>
    <%# array_of_symbols.each do |a_symbol| %>
      <li>
        <a href="/forex/AED">
        Convert 1 AED to...
        </a>
      </li>
    <%# end %>
</ul>
    
